@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --moderate-blue:  hsl(238, 40%, 52%);
    --soft-red: hsl(358, 79%, 66%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --pale-red: hsl(357, 100%, 86%);

    --dark-blue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);

    --ff-primary: 'Rubik', sans-serif;;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body{
    min-height: 100%;
    overflow-x: hidden;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}



/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */
body {
  font-family: var(--ff-primary);
  background-color: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Score component */
.score {
  height: 100px;
  width: 40px;
  border-radius: 10px;
  background-color: var(--very-light-gray);
  display: grid;
  justify-items: center;
  align-items: center;
}
.score p {
  color: var(--moderate-blue);
  font-weight: var(--fw-bold);
}

/* UserName component */
.username {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.username-left {
  display: flex;
  gap: 16px;
}
.username-left img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.username-left h2 {
  color: var(--dark-blue);
  font-weight: var(--fw-bold);
}
.username-left p {
  color: var(--grayish-blue);
  font-weight: var(--fw-medium);
}
.username-right {
  display: flex;
  gap: 5px;
  align-items: center;
}
.username-right img {
  width: 14px;
  height: 12.25px;
}
.username-right p {
  color: var(--moderate-blue);
  font-weight: var(--fw-bold);
}

/* YouUsername component */
.you-username {
  display: flex;
  justify-content: space-between;
}

.you-username-left{
  display: flex;
  gap: 16px;
  align-items: center;
}
.you-username-left img {
  width: 32px;
  height: 32px;
}
.you-username-left h2 {
  color: var(--dark-blue);
  font-weight: var(--fw-bold);
}
.you-username-left h6 {
  color: white;
  background-color: var(--moderate-blue);
  font-size: 13px;
  font-weight: var(--fw-medium);
  border-radius: 3px;
  width: 36px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.you-username-left p {
  color: var(--grayish-blue);
  font-weight: var(--fw-medium);
}

.you-username-right {
  display: flex;
  gap: 16px;
}

.delete-section p {
  color: var(--soft-red);
  font-weight: var(--fw-bold);
}
.edit-section p {
  color: var(--moderate-blue);
  font-weight: var(--fw-bold);
}

.delete-section,
.edit-section {
  display: flex;
  align-items: center;
  gap: 6px;
}
.delete-section img,
.edit-section img{
  width: 14px;
  height: 13.95px;
}

/* AddComment component */
.add-comment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 730px;
  height: 144px;
  background-color: var(--white);
}
.add-comment img {
  height: 32px;
  width: 32px;
}
.add-comment textarea {
  width: 506px;
  height: 96px;
  resize: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--light-gray);
}
.add-comment textarea:focus {
  border: 0;
  outline: 2px solid var(--moderate-blue);
}
.add-comment button {
  width: 104px;
  height: 48px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--moderate-blue);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
